html, body {
	margin: 0;
	padding: 0;
}

#containerDiv {
	display: flex;
	align-items: stretch;
	min-height: 100vh;
	background: #FFFFFF;
}

#leftDiv {
	flex: 45;
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

#rightDiv {
	flex: 55;
	background: url(image_summer.png);
	background-repeat: no-repeat;
	background-size: auto;
}

#navDiv {
	flex: 12.96;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

#topLinksDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.topLinks {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6A707B;
}

#howItWorks {
	min-width: 91px;
	margin-left: 30px;
	margin-right: 30px;
}

#midDiv {
	display: flex;
	flex: 55.56;
	align-items: flex-end;
	justify-content: center;
}

#headingContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

#heading {
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 44px;
	
	color: #131821;
}

#subHeading {
	max-width: 400px;

	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	color: #6A707B;
}

#subsBox {
	position: absolute;
	width: 663px;
	height: 70px;
	left: 100px;
	top: 539px;
	
	background: #FFFFFF;
	border: 1px solid #E3E3E4;
	box-sizing: border-box;
	border-left: 4px solid #4066A5;
}

#subsBox::placeholder {
	position: absolute;
	width: 227px;
	height: 24px;
	left: 144px;
	top: 562px;
	
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-left: 25px;
	
	color: #6A707B;
}

#arrowImage {
	position: absolute;
	width: 24px;
	height: 14px;
	left: 699px;
	top: 567px;
}

.container {
	display: block;
  	position: relative;
  	padding-left: 35px;
	margin-bottom: 12px;
	height: 26px;
	left: 140px;
	top: 663px;
}

.container p {
	left: 181px;
	
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	
	color: #6A707B;
}

.container p u {
	color: #000000;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #E3E3E4;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #4066A5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

hr {
	position: absolute;
	width: 400px;
	height: 1px;
	left: 140px;
	top: 640px;
	
	background: #E3E3E4;
}

#bottomDiv {
	flex: 31.48;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#facebook, #twitter, #instagram, #youtube {
	width: 46px;
	height: 46px;
}